body {
  font-family: Arial;
  width: 80%;
  margin-left: auto;
  padding: 10px;
}

h1 {
  font-size: 40px;
}

.petit-description {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}

.grand-description {
  font-size: 17.5px;
}

.services {
  display: flex;
  gap: 20px;
}

.services div {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

h3 {
  font-size: 20px;
  text-align: center;
}
